$bg-white: #f6f6f6;
$price-color: #2959ce;
$price-text: #555;
$main-blue: #7296ec;
$light-blue: #dce6ff;
$logo-blue: #7296ee;
$main-gray: #7f7f7f;
$border-color: #d1d1d1;
$footer-border: #cecece;
$text-white: #fff;
$text-black: #000;
$lorem-gray: #4a4b4c;
$date-gray: #5e5f61;
$bg-orange: #f78b3b;
$footer-blue: #7297ef;
$icon-color: #8d8d8d;
$ru-color: #a6a6a6;
